<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="styleSheet" href="SignUpStyles.css">
    <title>SignUp</title>
</head>
<body>
    <div class="header"> 
        <h1>Pacebook</h1>
        <div class="LoginFields">
            <div class="email">
                <form>
                    <label for="userName">Email or Phone</label>
                    <input type="text" id="'UserName">
                    <div>
                        <input class="checkbox" type="checkbox" id="loggedIn">
                        <label id="blue" class="checkbox" for="loggedIn">Keep me logged in</label>
                    </div>
                </form>
                
            </div>
            <div class="password">
                <form>
                    <label for="password">Password</label>
                    <input type="text" id="password">
                    <a class="lightBlue" href="/">Forgotten your password?</a>
                </form> 
            </div>
            <button id="logInButton">Log In</button>
        </div>
    </div>
    <div class="body">
        <img src="NicePng_facebook-heart-png_1964757.png">
        <div class="bodyContainer">
            <h1>Sign Up</h1>
            <p id="slogan"> It's free and always will be</p>
            <form action="/" method="POST">
                <input class='name' type="text" placeholder="First name" name="name">
                <input class='name' type="text" placeholder="Surname" name="surname">
                <input type="text" placeholder="Email or mobile number" name="email">
                <input type="text" placeholder="Re-enter email or mobile number" name="reenter">
                <input type="text" placeholder="New Password" name="password">
                <label for="birthday">Birthday</label>
                <input type="date" name="birthday"id="Birthday">
                <div class="genderSelector">
                    <div class="radio">
                        <input type="radio" value="Female" id="Female" name="gender">
                        <label for="Female">Female</label>
                    </div>
                    <div class="radio">
                        <input type="radio" value="Male" id="Male" name="gender">
                        <label for="Male">Male</label>
                    </div>
            </div>
            <p>By clicking Sign up, you agree to our Terms and that you have read our Data Use Policy, including our Cookie use</p>
            <button>Sign Up</button>
            </form>
            
        </div> 
    </div>
    <div class="footer"></div>>
</body>
</html>